doctype html
html
    head
        title voici le contenu du fichier
    body
        table(border='2')
            tr
                th identifiant
                th ville
            each val in data
                tr
                    td= val.id
                    td= val.ville
